<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="demo-comp">
  <template>
    <style>
      :host {
        display: block;
      }
      h2,h3{
        color : #ff7722;
      }
    </style>
    <h2>Soy [[nombre]]!</h2>
    <h3>Tengo [[edad]] años!</h2>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class DemoComp extends Polymer.Element {
      static get is() { return 'demo-comp'; }
      static get properties() {
        return {
          nombre: {
            type: String,
            value: 'Karen Morales'
          },
          edad: {
            type: Number,
            value: 33
          }
        };
      }
    }

    window.customElements.define(DemoComp.is, DemoComp);
  </script>
</dom-module>
