<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link rel="import" href="../visor-salir/visor-salir.html">

<dom-module id="visor-afiliar">
  <template>
    <style>
      :host {
        display: block;
        font-family: Helvetica;
      }
      h2,h3{
        color : #ff3333;
      }
      </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <div hidden$="[[hasFin]]">
    <button  class="btn btn-primary" on-click="Fin">Cerrar Sesiòn</button><br></br>
    </div>
    <div hidden$="[[!hasCuentas]]">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">IBAN</th>
          <th scope="col">Saldo</th>
          <th scope="col">Movimientos</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{accounts}}">
          <tr>
            <td>{{item.iban}}</td>
            <td>{{item.saldo}}</td>
            <td><a data-id="{{item.id}}" type="idaccount" id="{{item.id}}" on-click="VerDetalle"> Ver</a></td>
            <!--td>{{item.id}}</td-->
          </tr>
        </template>

      </tbody>
    </table>
    </div>
    <div hidden$="[[!hasMovimientos]]">
       <h1>[[first_name]] [[last_name]] La cuenta seleccionada es: [[iban]] </h1><br></br>
       <visor-movimientos idaccount="{{idaccount}}" userid="{{userid}}" id="detalle"></visor-movimientos>
        <button  class="btn btn-primary" on-click="Salir">Atraz</button><br></br>
     </div>

     <div hidden$="[[!hasFin]]">
        <!--h1>[[first_name]] [[last_name]] CHAU!! </h1><br></br-->
        <visor-salir userid="{{userid}}" id="salir"></visor-salir>
         <!--button  class="btn btn-primary" on-click="Inicia">Iniciar Sesión</button><br></br-->
      </div>
      <!--div hidden$="[[!hasInicio]]">
         <gestor-componentes></gestor-componentes>
       </div-->

    <iron-ajax
      id="getAccounts"
      url="http://localhost:3000/apitechu/v3/users/{{userid}}/accounts"
      handle-as="json"
      on-response="showData"
      content-type="application/json"
      on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorAfiliar extends Polymer.Element {
      static get is() {
      return 'visor-cuentas';
    }
      static get properties() {
        return {
          userid: {
            type: Number,
            observer: '_idChanged'
          }, iban: {
            type: String
          }, saldo: {
            type:Number
          }, accounts: {
            type: Array
          }, idaccount: {
            type: Number
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          hasMovimientos: {
            type: Boolean,
            value: false
          },
          hasCuentas: {
            type: Boolean,
            value: false
          },
          hasFin: {
            type: Boolean,
            value: false
          },
          hasInicio: {
            type: Boolean,
            value: false
          }
        };
      }
      _idChanged() {
        this.$.getAccounts.generateRequest();
      }
      Inicio (e){
        this.hasFin=false;
        this.hasInicio=true;
      }

      Fin(e){
        this.hasCuentas=false;
        this.hasMovimientos=false;
        this.hasFin=true;
      }

      Salir(e){
        this.hasCuentas=true;
        this.hasMovimientos=false;
      }

      VerDetalle(e) {
        console.log("El usuario ha pulsado el detalle del movimiento");
        this.idaccount=e.target.id;
        this.iban=this.accounts[this.idaccount-1].iban;

        console.log("this.iban"+this.iban);

        console.log("idusu:" + this.userid);
        console.log("idaccount:" + this.idaccount);
        this.hasCuentas=false;
        this.hasMovimientos=true;

      }

      showData(data){
          console.log("showData");
    //      this.$.getAccounts.generateRequest();
          console.log(data.detail.response);
          this.hasCuentas=true;
          this.accounts=data.detail.response[0].account;
      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(VisorAfiliar.is, VisorAfiliar);
  </script>
</dom-module>
