<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<dom-module id="visor-movimientos">
  <template>
    <style>
      :host {
        display: block;
      }
      h2,h3{
        color : #ff3333;
      }
      </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <h4>Sus movimientos:</h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Numero de Movimiento</th>
          <th scope="col">Fecha</th>
          <th scope="col">Monto</th>
          <th scope="col">Descripcion</th>
        </tr>
      </thead>
      <tbody>
        <template is="dom-repeat" items="{{transaction}}">
          <tr>
            <td>{{item.number}}</td>
            <td>{{item.data}}</td>
            <td>{{item.amount}}</td>
            <td>{{item.descripcion}}</td>
          </tr>
        </template>

      </tbody>
    </table>

    <iron-ajax
      id="getMovi"
      url="http://localhost:3000/apitechu/v3/users/{{userid}}/accounts/{{idaccount}}"
      handle-as="json"
      on-response="showMovi"
      content-type="application/json"
      on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorMovimientos extends Polymer.Element {
      static get is() { return 'visor-movimientos'; }
      static get properties() {
        return {
          userid: {
            type: Number,
            observer: '_idChanged'
          },idaccount: {
            type: Number,
            observer: '_idChanged'
          }, number: {
            type: Number
          }, data: {
            type: String
          }, transaction: {
            type: Array
          }, amount: {
            type: Number
          }, descripcion: {
            type: String
          }
        };
      }
      _idChanged() {
        this.$.getMovi.generateRequest();
      }



      showMovi(data){
        console.log("showMovi");
        console.log(data.detail.response);
        this.transaction=data.detail.response[0].transaction;
      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(VisorMovimientos.is, VisorMovimientos);
  </script>
</dom-module>
