<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html"/>
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<dom-module id="visor-salir">
  <template>
    <style>
      :host {
        display: block;
      }
      h2,h3{
        color : #ff3333;
      }
      </style>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <div hidden$="[[hasFin]]">
      <button  class="btn btn-primary" on-click="Exit">Seguro que quiere Salir</button><br></br>
      </div>
      <div hidden$="[[!hasFin]]">
         <h1>[[first_name]] [[last_name]] CHAU!! </h1><br></br>
          <button  class="btn btn-primary" on-click="Inicia">Iniciar Sesión</button><br></br>
       </div>
    <iron-ajax
      id="getSalir"
      url="http://localhost:3000/apitechu/v3/logout"
      handle-as="json"
      on-response="showSalir"
      content-type="application/json"
      method="POST"
      on-error="showError">
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorSalir extends Polymer.Element {
      static get is() { return 'visor-salir'; }
      static get properties() {
        return {
          userid: {
            type: Number,
            observer: '_idChanged'
          },
          hasFin: {
            type: Boolean,
            value: false
          }
        };
      }
      _idChanged() {
        this.$.getSalir.generateRequest();
      }

      Exit(e){
        console.log("Exit");
        var logoutData = {
          "id" : this.userid,
        //  "password" : this.password
        };
        this.$.getSalir.body = JSON.stringify(logoutData);
        this.$.getSalir.generateRequest();
        //  this.transaction=data.detail.response[0].transaction;
        }



      showSalir(data){
        console.log("showSalir");
        console.log("Recibida respuesta del servidor");
        this.hasFin=true;
      //  console.log(data.detail.response);
      }
      showError(error) {
        console.log("Hubo un error");
        console.log(error);
      }
    }

    window.customElements.define(VisorSalir.is, VisorSalir);
  </script>
</dom-module>
