<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../visor-cuentas/visor-cuentas.html">
<link rel="import" href="../visor-movimientos/visor-movimientos.html">
<link rel="import" href="../alta-new-user/alta-new-user.html">

<dom-module id="login-usuario-cuentas">
 <template>
   <style>
     :host {
       display: block;
       font-family: Helvetica;
     }
     .container{
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      padding: 100px 0;
      top:100px;
     }
     .col-md-12{
      font-family: Helvetica;
      color: white;
      }
     .btn-primary{
       background: #0b8585!important;
     }
   </style>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
     <div hidden$="{{isLogged}}" class="container">
       <h1>BBVA</h1>
       <h4>Sign in</h4>
         <div class="card" style="width: 30rem;" alt="Responsive card">
           <div class="card-body">
             <div class="form-group">
               <label for="exampleInputEmail1">Email</label>
               <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" value="{{email::input}}">
             </div>
             <div class="form-group">
               <label for="exampleInputPassword1">Password</label>
               <input type="password" class="form-control" id="exampleInputPassword1" placeholder="&#x1F512; Password" value="{{password::input}}">
             </div>
             <button  class="btn btn-primary" on-click="login">Login</button><br></br>
             <button  class="btn btn-primary" on-click="afiliar">Afiliate</button><br></br>
           </div>
        </div>
     </div>
     <div hidden$="{{isAfiliado}}">
       <alta-new-user id="doAlta"></alta-new-user>
     </div>

   <iron-ajax
     id="doLogin"
     url="http://localhost:3000/apitechu/v3/login"
     content-type="application/json"
     method="POST"
     handle-as="json"
     on-response="manageAJAXResponse"
     on-error="showError">

 </template>

 <script>
     class LoginUsuarioCuentas extends Polymer.Element {
     static get is() { return 'login-usuario-cuentas'; }
     static get properties() {
       return {
         email: {
           type: String
         }, password: {
           type: String
         }, isLogged: {
           type: Boolean,
           value: false
         },
         first_name: {
           type: String
         },
         last_name: {
           type: String
         },
         idusu:{
           type: String
         },
         isAfiliado: {
           type: Boolean,
           value: true
         }
       };
     }

     login(e) {
       console.log("El usuario ha pulsado el botón login");
       var loginData = {
         "email" : this.email,
         "password" : this.password
       };
       this.$.doLogin.body = JSON.stringify(loginData);
       this.$.doLogin.generateRequest();
     }

     afiliar(e) {
       console.log("El usuario ha pulsado el botón afiliar");
       this.isLogged = true;
       this.isAfiliado = false;
     }

     manageAJAXResponse(data) {
       console.log("Recibida respuesta del servidor");
    //   console.log(data.detail.response.userid);
    //   console.log(data.detail.response.name);
    //   console.log(data.detail.response);
       this.idusu = data.detail.response.userid;
       this.first_name = data.detail.response.name;
       this.last_name = data.detail.response.apellido;
       console.log(data.detail.response.userid);
       if ( data.detail.response.userid!=undefined || data.detail.response.user!=undefined ) {
         this.isLogged = true;
         console.log('Usuario correcto!');
         console.log(window.location.href);
       } else {
         this.isLogged = false;
         console.log('Usuario no válido ###');
       }
      this.dispatchEvent(new CustomEvent('loginok',{detail:{idusu:this.idusu,
      name:this.first_name}}));
     }

     showError(error) {
       console.log("Hubo un error");
       console.log(error);
     }

   }
   window.customElements.define(LoginUsuarioCuentas.is, LoginUsuarioCuentas);
 </script>
</dom-module>
